@model IEnumerable<WebCrudImoveis.Models.Imovel>
@{
    ViewBag.title = "Imoveis";

    int intSno = 0;
}

<h1>Imoveis</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                Codigo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
             </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            intSno = intSno + 1;
            <tr>
            <td>
                @intSno
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
@section Scripts {
    <script>
    $(document).ready( function () {
        $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
            }
        });
    } );
    </script>
}

